<footer>

    <div class="footer-logo">
        <img src="images/119101310_942091586287815_342589704773075251_n-removebg-preview.png" alt="">
    </div>

    <div class="about-us-footer">
        <h4 style="margin-bottom:0px; text-direction:underline;">About Us</h4>
        <ul>
            <li> Kristina King</li>
            <li>Email: sample-email@googl.com</li>
            <li>Phone: (3948)39003-3958</li>
        </ul>
    </div>

    <div class="nav-menu-footer">
        <h4 style="margin-bottom:0px; text-direction:underline;">Menu</h4>
        <a href="/">Home</a>
        <a href="/shop">Shop</a>
        <a href="/about-us">About Us</a>
        <a href="/contact">Contact Us</a>
    </div>

    <div>
        <p>content</p>
    </div>
</footer>