<footer>
    <div class="footer-content">


        <div class="footer-logo">
            <img src="images/119101310_942091586287815_342589704773075251_n-removebg-preview.png" alt="">
        </div>


        <!-- Footer Navigation -->
        <div class="nav-menu-footer">
            <h4 style="margin-bottom:0px; text-direction:underline;">Menu</h4>
            <a href="/">Home</a>
            <a href="/shop">Shop</a>
            <a href="/about-us">About Us</a>
            <a href="/contact">Contact Us</a>
        </div>
        <!-- Footer Company Information -->
        <div class="about-us-footer">
            <h4 style="margin-bottom:0px; text-direction:underline;">Company Information</h4>
            <ul>
                <li>Lovely Larae Boutique Company</li>
                <li>Email: sample-email@google.com</li>
                <li>Phone: (394)39003-3958</li>
            </ul>
        </div>

        <div>
            <h4>Social Media</h4>
            <a href="#" class="fa fa-facebook"></a>
            <a href="#" class="fa fa-twitter"></a>
            <a href="#" class="fa fa-instagram"></a>
        </div>
    </div>
    <div class="credit-cards" style="text-align: center; width: 100%">
        <h4>Payment Methods</h4>
        <img height="40" src="https://shoplineimg.com/assets/footer/card_visa.png" />
        <img height="40" src="https://shoplineimg.com/assets/footer/card_master.png" />
        <img height="40" src="https://shoplineimg.com/assets/footer/card_paypal.png" />
        <img height="40" src="https://shoplineimg.com/assets/footer/card_amex.png" />
    </div>

    <div>
        <p style=" padding-left: 20px;font-size: small;">Copyright 2020 BA Technologies ~ Website designed by BA
            Technologies</p>
    </div>
</footer>