<header>
    <div class="logo-section">
        <img src="../images/119101310_942091586287815_342589704773075251_n-removebg-preview.png" alt="">
        <p class="company-name">{{title}}</p>

    </div>


    <nav>
        <a href="/">Home</a>
        <a href="/shop">Shop</a>
<<<<<<< HEAD
        <a href="/contact">Contact</a>
=======
        <a href="/about">About Us</a>
        <a href="/contact">Contact Us</a>
>>>>>>> d170308637da52bb641f18cb8d529dc32ce83576
        <a id="shop-now" href="/shop">Shop Now</a>
    </nav>


</header>