<header>
    <div class="logo-section">
        <img src="../images/119101310_942091586287815_342589704773075251_n-removebg-preview.png" alt="">
        <p class="company-name">{{title}}</p>

    </div>


    <nav>
        <a href="/">Home</a>
        <a href="/shop">Shop</a>
        <a href="/contact">Contact</a>
        <a id="shop-now" href="/shop">Shop Now</a>
    </nav>


</header>