<div class="index-section-1">
    <img src="images/Lovely Larea Boutique.png" alt="">

    <div>
        <h2>Style Your Life</h2>
        <p>The Lovely Larae Boutique offers a variety of clothing.
            Offering its shopper’s a unique outfit for any occasion.
        </p>
    </div>
</div>

<div class="homepage-banner">
    <video autoplay muted loop>
        <source src="video/fresh styles fresh fashion.mp4" type="video/mp4" />
    </video>
    <a href="/shop"><button>SHOP</button></a>
</div>

<div class="index-section-2">
    <div>
        <h2>Shop With Confidence</h2>
        <p>Our job is to give each customer confidence in their style.
        </p>
    </div>
    <img class="second-pic-ad" src="images/Lovely Larea Boutique.png" alt="">
</div>