/***********************
    Body styling
***********************/
body {
    background-color: #a4508b;
    background-image: linear-gradient(326deg, #a4508b 0%, #5f0a87 74%);
    max-width: 1050px;
    margin: 0 auto;
    padding: 0px 10px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main-content {
    padding-top: 30px;
    background-color: white;
    min-height: 100vh;
    flex-grow: 1;
}



/***********************
    Heading styling
***********************/
.company-name {
    margin: 30px 0px 30px 30px;
    font-family: 'Dancing Script',
        cursive;
    font-size: 80px;
    color: #D6A2E8;
}

header div button {
    float: right;
    background-color: #D6A2E8;
    border: solid #D6A2E8 2px;
    color: white;
    font-size: xx-large;
    margin-bottom: 20px;
    margin-right: 20px;
}

header nav {
    margin-left: 50px;
}

header a {
    text-decoration: none;
    list-style: none;
    font-weight: bold;
    padding: 10px;
    font-size: 25px;
}

header a:hover {
    color: #eec0c6;
}

#shop-now {
    float: right;
    margin-right: 20px;
    background-color: #D6A2E8;
    color: white;
    font-size: 50px;
}

#shop-now:hover {
    background-color: #f54747;
}

header {
    border-bottom: solid 3px #D6A2E8;
    border-top: solid 3px #D6A2E8;
}

header .logo-section img {
    width: 9rem;
    height: 9rem;
    margin-bottom: 2rem;
    margin-top: 0.5rem;
    margin-left: 0.5rem;
}

header .logo-section {
    display: flex;
    align-items: flex-start;
}

/***********************
   Footer styling
***********************/

footer {
    font-family: 'Roboto',
        sans-serif;
    margin: 0px;
    padding: 3rem;
    background-color: #D6A2E8;
    color: white;
    padding: 1rem 0;
}

.footer-content {
    display: flex;
    flex-grow: 1;

}

.nav-menu-footer {
    display: flex;
    flex-direction: column;
    align-content: center;
    padding: 0rem 1rem;

}

.nav-menu-footer a {
    text-decoration: none;
    font-size: medium;
    color: white;
    margin: 0.5rem 0;
}

.about-us-footer ul li {
    list-style: none;
    padding-left: 0;
    margin: 0.5rem 0rem;
    font-size: small;
    width: 150px;

}

.about-us-footer ul {
    padding-left: 0;
}

.about-us-footer {
    display: flex;
    flex-direction: column;
    margin-right: 2rem;

}

/* Style all font awesome icons */
.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
}

/* Add a hover effect if you want */
.fa:hover {
    opacity: 0.7;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {
    background: #3B5998;
    color: white;
}

/* Twitter */
.fa-twitter {
    background: #55ACEE;
    color: white;
}

.fa-instagram {
    background: #125688;
    color: white;
<<<<<<< HEAD
}

/***********************
   Homepage Section 1 styling
***********************/

.index-section-1 {
    margin-bottom: 2rem;
    margin-top: 2rem;
    background-color: #ffcccc;
    display: flex;
    margin-left: 1rem;
}

.index-section-1 img {
    height: 22rem;
    min-width: 50%;
    box-shadow: 25px 25px #a4508b;
}

.index-section-1 div {
    margin: 1rem 3rem;
    text-align: center;
    font-family: 'Playfair Display',
        serif;
}

.index-section-1 div h2 {
    font-size: 40px;

}

.index-section-1 div p {
    line-height: 2rem;
    font-size: 2rem;
}

.index-section-2 {
    margin-bottom: 2rem;
    margin-top: 2rem;
    background-color: #ffcccc;
    display: flex;
    margin-left: 1rem;
}

.index-section-2 div {
    margin: 1rem 3rem;
    text-align: center;
    font-family: 'Playfair Display',
        serif;
}

.index-section-2 div h2 {
    font-size: 40px;

}

.index-section-2 div p {
    line-height: 2rem;
    font-size: 2rem;
}


.second-pic-ad {
    height: 22rem;
    min-width: 50%;
    box-shadow: -25px 25px #a4508b;
}

.homepage-banner {
    min-width: 100%;
    height: 32rem;
    overflow: hidden;
    position: relative;
}

.homepage-banner button {
    position: absolute;
    left: 48rem;
    top: 10rem;
    height: 3rem;
    background-color: purple;
    width: 12rem;
    color: white;
    font-weight: bolder;
    font-size: x-large;
}

video {
    min-width: 100%;
    height: 36rem;
    transform: translateX(-50%) translateY(-50%);
    transform: scaleY(0.2);
    transform: scaleX(1);
=======
>>>>>>> d170308637da52bb641f18cb8d529dc32ce83576
}